main {
    /* background-color: #282D35; */
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px 25px;
    width: 100%;
    background-image: url("../src/assets/reactjs-icon 2.png");
    background-position: right bottom ;
    background-repeat: no-repeat;
}

.main--title {
    margin: 0;
    font-size: 40px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    font-size: 20px;
    line-height: 24px;
    padding-block: 10px;
}

.main--facts > ::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}